#title {
    padding: .5em;
    text-align: center;
    font-family: Lucida Calligraphy;
}

.nav {
    border-bottom: 1px solid black;
}

.nav-pills a:hover {
    font-weight: bold;
}

.jumbotron {
    border-bottom: 1px solid black;
    margin-bottom: 0 !important;
    overflow: hidden;
    text-align: center;
}

footer {
    padding-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}