#imageDiv {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-image: url(http://www.nuclearblast.de/static/articles/190/190721.jpg/1000x1000.jpg);
    background-size: 400px;
    background-position: center;
}

.font {
    font-family: Brush Script MT;
}

h1, h2, h3, h4 {
    text-align: center;
}

li {
    font-style: italic;
}

table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

th {
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    font-style: italic;
    background-color: rgb(243, 243, 233);
}