#text, #radio, #dropdown, #textarea, #checkbox, #submitButton{
    display: block;
    padding: .5em;
}

#leftHalf {
    display: inline-block;
    width: 22%;
    padding-right: 1em;
    text-align: right;
}

#rightHalf {
    display: inline-block;
    width: 15em;
}

#firstName, #lastName, #email, #reason, #additionalInformation {
    width: 16.5em;
    border: 2px solid black;
}

#additionalInformation {
    vertical-align: text-top;
}

#submit {
    margin-right: 1.5em;
    padding: 0 1em;
    border: 2px solid black;
    float: right;
}

#reason, #submit {
    border-radius: .3em;
}